.bannerhead{
    height: 100vh ;
    color: white;
    object-fit: contain;
    margin-top: 0px;
}
.banner-content{
    margin-left: 3rem;
    padding-top: 150px;
    height: 200px;
    width: 350px;
}
.banner-title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}
.fadebottom{
    height: 100vh; 
    background-image: linear-gradient(rgba(8, 8, 8, 0.048),rgb(0, 0, 0));
}